<div>
  <table class="table table-sm">
    <thead>
      <tr class='bigger'>
        <td>Title</td>
        <td>Year</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody *ngIf='movies'>
      <tr *ngFor='let movie of movies'>
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>
        <a routerLink='/movies/detail/ {{movie.id}}'>Detail </a>|
        <a routerLink='/movies/edit/ {{movie.id}}'> Edit</a>
        </td>
      </tr>  
    </tbody>
  </table>
  </div>
